<h1>Binvenue chez Stubborn !</h1>
<img src="{{ asset('Logo.png') }}" alt="Logo Stubborn" width="150" height="120">
<p>
    Pour confirmer voter inscription, cliquez sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.<br>
    <i>Attention, ce lien n'est valable que {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</i>
</p>

<p>
    Bonne journée !
</p>
