<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stubborn, Don't compromise on your look{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Header #}

        {# Message flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main class="container">
        {% block body %}{% endblock %}
        </main>

        <footer class="bg-dark text-center p-3 mt-5">
            <div class="text-white">
                <h2>Stubborn</h2>
                <address>Piccadilly Circus<br/>
                    LONDON W1J 0DA<br/>
                    ROYAUME UNI<br/>
                    <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
                </address>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
